<!DOCTYPE html>
<head>
    <link href="style/main.css" rel="stylesheet">
    <script>
    function confirmclose(){
        const elec = require('electron');
        elec.remote.app.exit(0);
    }
    </script>
    <link rel="stylesheet" href= "https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

</head>
<body>
<div class="container">
    <img src="https://media1.giphy.com/media/26u4b45b8KlgAB7iM/giphy.gif" style="width:160px;height:108px;">
    <p>Goodbye my Friend :)</p>
    <input type="button" id="button" value="Exit" onclick="confirmclose();">
</div>
</body>
</html>
