@font-face {
    font-family: 'advent-pro';
    src: url('advent-pro/AdventPro-Bold.ttf');    
}

body {
    user-select: none;
    background-color: #202226;
    color:white;
    font-family: 'advent-pro';
    font-size: 25px;
}

.container {
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    position: absolute;
}

#button {
    margin-top: 1%;
    outline: none;
    color: #fff !important;
    text-transform: uppercase;
    text-decoration: none;
    background: #202226;
    padding: 20px;
    border-radius: 5px;
    display: inline-block;
    border: none;
    transition: all 0.4s ease 0s;
}

#button:hover {
    background:  rgba(37, 165, 91, 0.57);
    letter-spacing: 1px;
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#data {
	outline: none;
	position:relative;	
	background:  #202226;
    padding: 20px;	
	display: inline-block;
    border-radius: 9999em;
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
    border-color: white;
    color: white;
}

#data:active {
    outline: none;	
    background:  rgba(37, 165, 91, 0.57);
    box-shadow: 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.4s ease 0s;
}

#data.null-data {
    border-color: red;
}

#Signature {
    padding-bottom: 0%;
    margin-bottom: 0%;
    position: absolute;
    bottom: 8px;
    right: 16px;
    font-size: 14px;
}
/* The switch - the box around the slider */
.switch {
    outline: none;
    margin-top: 2%;
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  /* Hide default HTML checkbox */
  .switch input {
    outline: none;
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    outline: none;
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    transition: .4s;
  }
  
  input:checked + .slider {
    outline: none;
    background-color: rgba(37, 165, 91, 0.57);
  }
  
  input:focus + .slider {
    outline: none;
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    outline: none;
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    outline: none;
    border-radius: 34px;
  }
  
  .slider.round:before {
    outline: none;
    border-radius: 50%;
  }